
<ul class='assignments'>
  {{#each assignments}}
    <li>
      <a href='/assignments/{{this.id}}'>{{this.title}}</a>
      <small>due <span class='js-format-date'>{{this.due_date}}</span></small>
    </li>
  {{/each}}
</ul>